@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i|Source+Sans+Pro:200,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i|Source+Sans+Pro:200,400,400i,600,600i,700,700i");
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  vertical-align: bottom;
  padding: 1px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga'; }
  .material-icons.md-12 {
    font-size: 12px; }
  .material-icons.md-16 {
    font-size: 16px; }
  .material-icons.md-18 {
    font-size: 18px; }
  .material-icons.md-32 {
    font-size: 32px; }

.verified {
  color: green; }

.verified {
  color: green; }

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik";
  font-weight: normal; }

h1 {
  font-size: 5em;
  letter-spacing: -4px; }

h2 {
  font-size: 4.5em;
  letter-spacing: -3px; }

h3 {
  font-size: 4em;
  letter-spacing: -2.5px; }

h4 {
  font-size: 3em;
  letter-spacing: -1px; }

h5 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.5px; }

h6 {
  font-size: 20px;
  font-weight: 500; }

input[type=button],
button,
a.button {
  height: 32px;
  font-size: .9em;
  letter-spacing: .08em;
  font-weight: 600;
  color: #404040;
  background: #ffffff;
  cursor: pointer;
  border: 0;
  border-radius: 24px;
  outline: none;
  padding: 0 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition-duration: 0.3s; }
  input[type=button].large,
  button.large,
  a.button.large {
    height: 48px;
    padding: 0 80px; }
  input[type=button].blue,
  button.blue,
  a.button.blue {
    color: #ffffff;
    background: linear-gradient(180deg, #2EADEE 0%, rgba(46, 173, 238, 0.9) 100%); }
    input[type=button].blue:hover,
    button.blue:hover,
    a.button.blue:hover {
      box-shadow: 0px 4px 10px rgba(49, 163, 221, 0.5); }
    input[type=button].blue:active,
    button.blue:active,
    a.button.blue:active {
      background: #1084c0; }
  input[type=button].white,
  button.white,
  a.button.white {
    color: #2eadee;
    background: #ffffff; }
  input[type=button].transparent,
  button.transparent,
  a.button.transparent {
    background: none; }
    input[type=button].transparent.blue,
    button.transparent.blue,
    a.button.transparent.blue {
      background: none;
      color: #2eadee; }
      input[type=button].transparent.blue:hover,
      button.transparent.blue:hover,
      a.button.transparent.blue:hover {
        color: #129de3; }
      input[type=button].transparent.blue:active,
      button.transparent.blue:active,
      a.button.transparent.blue:active {
        color: #1084c0; }
    input[type=button].transparent.gray,
    button.transparent.gray,
    a.button.transparent.gray {
      background: none;
      color: #8a8a8a; }
      input[type=button].transparent.gray:hover,
      button.transparent.gray:hover,
      a.button.transparent.gray:hover {
        color: #777777; }
      input[type=button].transparent.gray:active,
      button.transparent.gray:active,
      a.button.transparent.gray:active {
        color: #646464; }
  input[type=button].border,
  button.border,
  a.button.border {
    border: 1px solid black;
    background: none; }
    input[type=button].border.white,
    button.border.white,
    a.button.border.white {
      color: #ffffff;
      border: 1px solid #ffffff; }
      input[type=button].border.white:hover,
      button.border.white:hover,
      a.button.border.white:hover {
        background: rgba(255, 255, 255, 0.15); }
      input[type=button].border.white:active,
      button.border.white:active,
      a.button.border.white:active {
        background: rgba(255, 255, 255, 0.3); }
    input[type=button].border.blue,
    button.border.blue,
    a.button.border.blue {
      color: #2eadee;
      border: 1px solid #2eadee; }
      input[type=button].border.blue:hover,
      button.border.blue:hover,
      a.button.border.blue:hover {
        background: rgba(46, 173, 238, 0.15); }
      input[type=button].border.blue:active,
      button.border.blue:active,
      a.button.border.blue:active {
        background: rgba(46, 173, 238, 0.3); }
  input[type=button].no-border,
  button.no-border,
  a.button.no-border {
    border: 0; }
  input[type=button].shadow:hover,
  button.shadow:hover,
  a.button.shadow:hover {
    box-shadow: 0 1px 4px rgba(64, 64, 64, 0.4); }
  input[type=button].shadow:active,
  button.shadow:active,
  a.button.shadow:active {
    box-shadow: 0 2px 10px rgba(26, 26, 26, 0.4); }
  input[type=button].paginator,
  button.paginator,
  a.button.paginator {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    color: #2eadee;
    background: none;
    border-radius: 50%;
    transition-duration: 0s;
    margin: 0 8px;
    user-select: none; }
    input[type=button].paginator#active,
    button.paginator#active,
    a.button.paginator#active {
      pointer-events: none;
      background: #2eadee;
      color: #ffffff; }
    input[type=button].paginator:hover,
    button.paginator:hover,
    a.button.paginator:hover {
      background: #ebf7fd; }
    input[type=button].paginator:active,
    button.paginator:active,
    a.button.paginator:active {
      background: #2eadee;
      color: #ffffff; }

#btn-cancel-booking {
  background: #EB5757;
  width: 320px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 8px 0px;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  transition-duration: 0.3s; }
  #btn-cancel-booking:hover {
    background: rgba(235, 87, 87, 0.9); }

.right {
  align-self: flex-end; }

input[type=text] {
  height: 48px;
  padding: 12px 12px;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: #8a8a8a;
  border: 1px solid #efefef;
  border-radius: 4px;
  transition-duration: 0.4s; }
  input[type=text].light {
    border: 1px solid #E0E0E0; }

input, label {
  display: block; }

label {
  letter-spacing: 0.05em;
  font-size: 14px;
  color: #363636;
  margin: 16px 0px 4px 0px; }

.floating-placeholder {
  width: 100%;
  margin: 12px 16px 16px 0px;
  vertical-align: middle; }
  .floating-placeholder .submit-form {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.select-box {
  overflow: hidden;
  height: 36px; }
  .select-box select {
    background: #ffffff url("../img/dropdown.png") calc(100% - 8px) no-repeat;
    border: 0;
    border-radius: 4px;
    height: inherit;
    width: 100%;
    padding: 0 16px;
    outline: none;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .select-box select option {
    padding: 0 20px; }
    .select-box select option.option-header {
      font-weight: bold; }
    .select-box select option select option[disabled] {
      color: #363636; }

.hero-select {
  height: 48px;
  width: 600px; }
  .hero-select select {
    color: #8a8a8a; }

.bordered {
  height: 48px;
  width: 500px; }
  .bordered select {
    background: #f5f5f5 url("../img/dropdown.png") calc(100% - 8px) no-repeat;
    border: 1px solid #efefef;
    color: #8a8a8a; }

.group {
  padding: 0;
  list-style-type: none; }
  .group li {
    display: inline;
    margin: auto 12px; }
    .group li a {
      padding: 12px 36px;
      background: #f5f5f5;
      color: #8a8a8a;
      font-weight: 600;
      border-radius: 4px;
      text-decoration: none;
      transition-duration: 0.4s; }
    .group li a:hover {
      cursor: pointer;
      color: #363636; }
    .group li a:active {
      background: #2eadee;
      color: #ffffff; }
  .group .active a {
    background: #2eadee;
    color: #ffffff;
    pointer-events: none; }

.ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }
  .ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #2eadee;
    animation-timing-function: cubic-bezier(0, 1, 1, 0); }
  .ellipsis div:nth-child(1) {
    left: 6px;
    animation: ellipsis1 0.6s infinite; }
  .ellipsis div:nth-child(2) {
    left: 6px;
    animation: ellipsis2 0.6s infinite; }
  .ellipsis div:nth-child(3) {
    left: 26px;
    animation: ellipsis2 0.6s infinite; }
  .ellipsis div:nth-child(4) {
    left: 45px;
    animation: ellipsis3 0.6s infinite; }

@keyframes ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

#site-landing-header {
  height: 64px;
  width: inherit;
  z-index: 500;
  position: fixed;
  transition-duration: 0.4s; }
  #site-landing-header .container {
    height: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 48px; }
  #site-landing-header.scrolled {
    background: #2eadee; }
  #site-landing-header .navbar-image {
    flex: 1; }
  #site-landing-header .navbar-button {
    margin-left: 16px; }
  #site-landing-header p {
    padding: 0 16px; }

#site-navbar {
  height: 56px;
  width: 100%;
  z-index: 500;
  position: fixed;
  transition-duration: 0.4s; }
  #site-navbar .container {
    height: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 48px; }
  #site-navbar .navbar-image {
    flex: 1; }
  #site-navbar .navbar-button {
    margin-left: 16px; }
  #site-navbar p {
    padding: 0 16px; }

.card-landing {
  width: 500px;
  background: #ffffff;
  background: linear-gradient(to bottom, white, #f7f7f7);
  border: 1px solid #d9d9d9;
  box-shadow: 0px 4px 25px rgba(64, 64, 64, 0.15);
  border-radius: 8px;
  transition-duration: 0.2s;
  display: flex;
  flex-direction: column; }
  .card-landing:hover {
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25); }
  .card-landing img, .card-landing a {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    user-select: none; }
  .card-landing .card-cover {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .card-landing .card-cover .cover-image {
      width: inherit;
      height: inherit;
      object-fit: cover;
      border-radius: 8px 8px 0 0; }
    .card-landing .card-cover .cover-fallback {
      width: 180px; }
    .card-landing .card-cover .cover-play {
      position: absolute;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      background: rgba(54, 54, 54, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: 0.2s; }
  .card-landing .card-header {
    width: 100%;
    padding: 16px;
    display: flex;
    border-top: 1px solid #d9d9d9; }
    .card-landing .card-header .card-avatar {
      width: 48px;
      height: 48px;
      border: 1px solid rgba(138, 138, 138, 0.5);
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center; }
      .card-landing .card-header .card-avatar img {
        height: 100%; }
    .card-landing .card-header .card-name-title {
      flex: 1;
      margin-left: 16px; }
      .card-landing .card-header .card-name-title .card-subtitle {
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        color: #8a8a8a; }
        .card-landing .card-header .card-name-title .card-subtitle .location-icon {
          margin-right: 4px; }
    .card-landing .card-header .card-badge {
      float: right;
      text-transform: uppercase;
      font-family: "Rubik";
      font-size: 12px;
      color: #219653;
      font-weight: 500; }
  .card-landing .card-contents {
    padding: 0 16px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .card-landing .card-contents > div:first-child {
      height: 70px; }
    .card-landing .card-contents > div:last-child {
      margin-bottom: 16px; }
    .card-landing .card-contents .card-detail,
    .card-landing .card-contents .detail {
      width: 100%; }
      .card-landing .card-contents .card-detail small,
      .card-landing .card-contents .detail small {
        color: #8a8a8a; }
      .card-landing .card-contents .card-detail strong,
      .card-landing .card-contents .detail strong {
        font-weight: 600; }
      .card-landing .card-contents .card-detail h6,
      .card-landing .card-contents .detail h6 {
        color: #2eadee; }
    .card-landing .card-contents .card-detail-two-rows {
      display: flex; }
      .card-landing .card-contents .card-detail-two-rows .detail {
        margin: 0; }
      .card-landing .card-contents .card-detail-two-rows .detail:last-child {
        text-align: right; }
    .card-landing .card-contents .detail {
      flex: 1; }
  .card-landing .card-footer {
    margin-top: auto;
    padding: 0 16px 16px;
    display: flex; }
    .card-landing .card-footer .card-footer-left {
      flex: 1; }
      .card-landing .card-footer .card-footer-left button {
        display: inline;
        padding-left: 0; }
  .card-landing.facility .card-name-title {
    margin: 0; }

.card-company {
  width: 100%;
  background-color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid rgba(224, 224, 224, 0.5);
  margin-bottom: 12px; }
  .card-company .company-main-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0px 0px;
    padding: 24px 16px 24px 16px;
    flex-direction: column;
    text-align: center;
    color: #363636; }
    .card-company .company-main-info .company-name {
      font-size: 24px;
      font-weight: 800; }
    .card-company .company-main-info .company-owner {
      font-size: 16px; }
  .card-company .company-secondary-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    flex-direction: column;
    text-align: center;
    color: #4F4F4F;
    font-size: 14px;
    letter-spacing: 0.05em;
    border-top: 1px solid rgba(224, 224, 224, 0.5); }
  .card-company .company-status-info {
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 0px 0px 4px 4px;
    flex-direction: column;
    text-align: center;
    background: #828282;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em; }
    .card-company .company-status-info.verified {
      background: green; }

.card-dashboard {
  width: 340px;
  background: #ffffff;
  margin: 8px 8px 8px 8px;
  border-radius: 4px;
  border: 1px solid rgba(224, 224, 224, 0.5);
  transition-duration: 0.2s;
  display: flex;
  flex-direction: column; }
  .card-dashboard:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1); }
  .card-dashboard img, .card-dashboard a {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    user-select: none; }
  .card-dashboard .card-cover {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .card-dashboard .card-cover .cover-image {
      width: inherit;
      height: inherit;
      object-fit: cover;
      border-radius: 4px 4px 0 0; }
    .card-dashboard .card-cover .cover-fallback {
      width: 180px; }
    .card-dashboard .card-cover .cover-play {
      position: absolute;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      background: rgba(54, 54, 54, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: 0.2s; }
  .card-dashboard .card-header {
    width: 100%;
    padding: 8px 16px 8px 16px;
    display: flex;
    border-top: 1px solid #d9d9d9; }
    .card-dashboard .card-header .card-avatar {
      width: 48px;
      height: 48px;
      border: 1px solid rgba(138, 138, 138, 0.5);
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center; }
      .card-dashboard .card-header .card-avatar img {
        height: 100%; }
    .card-dashboard .card-header .card-name-title {
      flex: 1;
      margin-left: 16px; }
      .card-dashboard .card-header .card-name-title .card-title {
        font-size: 24px;
        font-weight: 600; }
      .card-dashboard .card-header .card-name-title .card-subtitle {
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        color: #8a8a8a;
        font-size: 12px; }
        .card-dashboard .card-header .card-name-title .card-subtitle .location-icon {
          margin-right: 4px; }
    .card-dashboard .card-header .card-badge {
      float: right;
      text-transform: uppercase;
      font-family: "Rubik";
      font-size: 12px;
      color: #219653;
      font-weight: 500; }
  .card-dashboard .card-contents {
    padding: 0 16px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .card-dashboard .card-contents > div:first-child {
      height: 70px; }
    .card-dashboard .card-contents > div:last-child {
      margin-bottom: 8px; }
    .card-dashboard .card-contents .card-detail,
    .card-dashboard .card-contents .detail {
      width: 100%; }
      .card-dashboard .card-contents .card-detail small,
      .card-dashboard .card-contents .detail small {
        color: #8a8a8a; }
      .card-dashboard .card-contents .card-detail strong,
      .card-dashboard .card-contents .detail strong {
        font-weight: 600; }
      .card-dashboard .card-contents .card-detail p,
      .card-dashboard .card-contents .detail p {
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #363636; }
    .card-dashboard .card-contents .card-detail-two-rows {
      display: flex; }
      .card-dashboard .card-contents .card-detail-two-rows .detail {
        margin: 0; }
        .card-dashboard .card-contents .card-detail-two-rows .detail p {
          font-weight: 600;
          font-size: 22px;
          line-height: 20px;
          letter-spacing: 0.01em; }
      .card-dashboard .card-contents .card-detail-two-rows .detail:last-child {
        text-align: right; }
    .card-dashboard .card-contents .detail {
      flex: 1; }
  .card-dashboard .card-footer {
    margin-top: auto;
    padding: 8px 16px 16px;
    border-radius: 0 0 4px 4px;
    display: flex;
    background: #2EADEE;
    color: white; }
    .card-dashboard .card-footer p {
      font-weight: 800;
      font-size: 22px;
      line-height: 20px; }
    .card-dashboard .card-footer .card-footer-left {
      flex: 1; }
      .card-dashboard .card-footer .card-footer-left button {
        display: inline;
        padding-left: 0; }
    .card-dashboard .card-footer .card-footer-right {
      text-align: right; }
  .card-dashboard.facility .card-name-title {
    margin: 0; }

.register-card {
  width: 400px;
  display: flex;
  align-items: center; }

.main-description {
  background: white;
  transform-origin: left top 0;
  font-weight: 400;
  font-size: 24px; }

.container {
  max-width: 1620px;
  width: 100%; }

#register-feed {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row; }
  #register-feed .form {
    padding: 160px 360px;
    position: relative;
    vertical-align: middle;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-flow: wrap;
    flex-direction: row; }
  #register-feed .feed-controls {
    width: inherit; }
    #register-feed .feed-controls h4 {
      text-transform: uppercase;
      color: #363636;
      text-align: center; }
    #register-feed .feed-controls .select-box {
      margin: 16px auto; }
    #register-feed .feed-controls .hint-subtitle {
      text-align: center;
      font-size: 0.9em;
      color: rgba(54, 54, 54, 0.75); }
    #register-feed .feed-controls .tabs {
      text-align: center;
      padding: 16px; }
    #register-feed .feed-controls .card-search {
      height: 48px;
      width: 100%;
      margin-bottom: 16px;
      display: flex;
      align-items: center; }
      #register-feed .feed-controls .card-search input {
        flex: 1; }
      #register-feed .feed-controls .card-search button span {
        color: #8a8a8a; }
  #register-feed .feed-cards-container {
    padding: 16px 0 16px;
    display: flex;
    justify-content: center;
    flex-flow: ror wrap; }
  #register-feed .feed-card-loading {
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    z-index: 100; }
  #register-feed .feed-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    #register-feed .feed-cards .card-landing {
      margin: 0 16px 32px; }
  #register-feed .feed-pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center; }

#site-sidebar {
  width: 320px;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column; }
  #site-sidebar .header {
    color: #2eadee;
    padding: 16px 16px;
    font-size: 24px;
    border-top: 1px solid rgba(224, 224, 224, 0.5);
    letter-spacing: 0.03em;
    background: white;
    margin-bottom: 12px;
    border-radius: 4px; }
    #site-sidebar .header .header-title {
      font-size: 28px;
      letter-spacing: 0.01em; }
    #site-sidebar .header p {
      margin-top: 4px;
      font-size: 14px;
      letter-spacing: 0em;
      color: #8a8a8a; }
  #site-sidebar .action-group {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(224, 224, 224, 0.5);
    border-radius: 4px; }
    #site-sidebar .action-group a {
      padding: 12px 16px;
      font-size: 16px;
      border-top: 1px solid rgba(224, 224, 224, 0.5);
      letter-spacing: 0.03em;
      color: #363636;
      cursor: pointer;
      transition-duration: 0.2s; }
      #site-sidebar .action-group a:hover {
        background: #60d2ff;
        color: #ffffff; }

.feed {
  width: 730px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.feed-footer {
  margin: 0px 24px;
  margin-top: 40px;
  display: flex;
  align-itens: center;
  justify-content: space-between; }

.feed-booked-facilities {
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 16px;
  background-color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 4px; }
  .feed-booked-facilities .label {
    margin: 16px 8px 8px 16px;
    font-size: 28px; }

.feed-booked-applicants {
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 16px;
  background-color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 4px; }
  .feed-booked-applicants .label {
    margin: 16px 8px 8px 16px;
    font-size: 28px; }

.title {
  width: 100%;
  background: white;
  transform-origin: left top 0;
  font-weight: 200;
  font-size: 32px; }

.description-form {
  width: 500px; }

.bg-img {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 860px;
  min-height: 600px;
  height: 100%;
  overflow: hidden;
  display: none; }

@media (min-width: 1360px) {
  .bg-img {
    display: flex; }
  #register-feed {
    margin-left: 860px; } }

.container {
  max-width: 1920px;
  width: 100%; }

#site-hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  color: #ffffff;
  height: 100%;
  width: 100%; }
  #site-hero .site-hero-content {
    height: inherit; }
    #site-hero .site-hero-content .container {
      width: inherit;
      height: inherit;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    #site-hero .site-hero-content .content-header {
      margin: 0 0 8px;
      text-align: center; }
    #site-hero .site-hero-content .content-subtitle {
      line-height: 1.5;
      width: 1000px;
      text-align: center;
      font-size: 1.25em;
      margin: 0 0 16px; }

#site-intro,
#site-outro {
  background: #f5f5f5;
  padding: 128px;
  width: 100%; }
  #site-intro .container,
  #site-outro .container {
    width: inherit;
    display: flex;
    align-items: center;
    margin: auto; }
  #site-intro .site-section-video,
  #site-outro .site-section-video {
    padding-right: 64px;
    flex: 1; }
    #site-intro .site-section-video video,
    #site-outro .site-section-video video {
      width: 100% !important;
      border-radius: 4px; }
  #site-intro .site-section-text,
  #site-outro .site-section-text {
    flex: 1; }
    #site-intro .site-section-text .content-header,
    #site-outro .site-section-text .content-header {
      text-transform: uppercase;
      margin: 0 0 16px;
      color: #363636; }
    #site-intro .site-section-text .content-subtitle,
    #site-outro .site-section-text .content-subtitle {
      line-height: 1.5;
      margin: 0 0 24px;
      color: #5c5c5c; }
  #site-intro .site-section-image,
  #site-outro .site-section-image {
    padding-left: 64px;
    flex: 1; }

#site-outro {
  background: #333333; }
  #site-outro .site-section-text .content-header {
    color: #f5f5f5; }
  #site-outro .site-section-text .content-subtitle {
    color: whitesmoke; }

#site-feed {
  width: 100%; }
  #site-feed .container {
    width: inherit;
    padding: 56px 128px;
    display: flex;
    margin: auto;
    flex-direction: column; }
  #site-feed .feed-controls {
    width: inherit; }
    #site-feed .feed-controls h4 {
      text-transform: uppercase;
      color: #363636;
      text-align: center; }
    #site-feed .feed-controls .select-box {
      margin: 16px auto; }
    #site-feed .feed-controls .hint-subtitle {
      text-align: center;
      font-size: 0.9em;
      color: rgba(54, 54, 54, 0.75); }
    #site-feed .feed-controls .tabs {
      text-align: center;
      padding: 16px; }
    #site-feed .feed-controls .card-search {
      height: 48px;
      width: 100%;
      margin-bottom: 16px;
      display: flex;
      align-items: center; }
      #site-feed .feed-controls .card-search input {
        flex: 1; }
      #site-feed .feed-controls .card-search button span {
        color: #8a8a8a; }
  #site-feed .feed-cards-container {
    padding: 16px 0 16px;
    display: flex;
    justify-content: center; }
  #site-feed .feed-card-loading {
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    z-index: 100; }
  #site-feed .feed-cards {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    #site-feed .feed-cards .card-landing {
      margin: 0 16px 32px; }
  #site-feed .feed-pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center; }

footer {
  background: #333333;
  color: #f5f5f5;
  width: inherit;
  padding: 0 128px 72px; }
  footer .container {
    width: inherit;
    display: flex;
    margin: auto; }
  footer .footer-copyright {
    flex: 1;
    padding-right: 36px; }
    footer .footer-copyright * {
      margin: 0 0 32px; }
    footer .footer-copyright img {
      width: 25%;
      opacity: 0.75; }
    footer .footer-copyright .copyright-subtitle {
      color: rgba(245, 245, 245, 0.85); }
    footer .footer-copyright .copyright-text {
      color: rgba(245, 245, 245, 0.5); }
  footer .footer-details {
    flex: 1;
    padding-left: 36px;
    display: flex; }
    footer .footer-details div {
      flex: 1; }
      footer .footer-details div :first-child {
        color: #2eadee;
        font-weight: 600; }
      footer .footer-details div * {
        padding-bottom: 16px; }
      footer .footer-details div a {
        display: block; }
      footer .footer-details div a:link,
      footer .footer-details div a:visited {
        color: white;
        text-decoration: none;
        transition-duration: 0.4s; }
      footer .footer-details div a:hover,
      footer .footer-details div a:active {
        color: #2eadee; }
