@import url('https://rsms.me/inter/inter-ui.css');
.service-container {
    display: flex;
    max-height: 1300px; /* Or whatever */ 
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
    justify-content:center;
  }

  .service-screen-container {
    display: flex;
    max-height: 1300px; /* Or whatever */ 
    flex-wrap: wrap;
    flex-direction:row;
    align-items: flex-start;
    justify-content:center;
  }

  .instruction-row{
    padding: 10px 30px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    font-size: 52px;
    color: $dark-gray;
    align-items: center;
    justify-content:center;
    font-weight: 600;
  }

  .intro-row{
    padding: 10px 30px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    font-size: 52px;
    color: $dark-gray;
    align-items: center;
    justify-content:center;
    font-weight: 600;
  }

  .service{
    display: flex;
    background: linear-gradient(to right top, #0042a4, #005eb0, #0074af, #0087a7, #16979d);
    width: 30%;  /* Or whatever */
    height: 360px; /* Or whatever */
    margin:10px;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px hsla(219, 72%, 70%, 0.50);

    &:disabled{
      background:rgb(192, 192, 203);  /* fallback for old browsers */
      cursor: arrow;
    }
  } 

  .service-screen{
    display: flex;
    background: linear-gradient(to right top, #0042a4, #005eb0, #0074af, #0087a7, #16979d);
    width: 100%;  /* Or whatever */
    height: 200px; /* Or whatever */
    margin:0px 10px;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px hsla(219, 72%, 70%, 0.50);

    &:disabled{
      background:rgb(192, 192, 203)  /* fallback for old browsers */

    }
  } 

  .titleStyle{
      font-weight: 600;
      font-size: 42px;
      color: white;
      padding-top: 30px;
      padding-bottom: 30px;
  }
.parent {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    .child {
      width: 600px;  /* Or whatever */
      height: 500px; /* Or whatever */
      margin:0;
      justify-content:center;
      background: rgb(237, 254, 255);
    }

    #box-shadow{
      box-shadow: 8px 8px 0px $blue;
      border-radius: 10px;
    }

    .lTell{
      width:150px;
      align-self:center;
    }

    p.prioNumStyle{
      font-size:160px;
      font-weight: 600;
      line-height: 160px;
      color: $blue;
      font-family: $other-font;
    }

    p.nowServing{
      font-family: $other-font;
      font-size:16px;
    } 

    .textStyle{
      font-weight: 400;
      letter-spacing: 0px;
      margin-top:30px;
      text-align: center;
      color:black;
      font-size:28px;
    }

    .service-text{
      margin-top: 30px;
      text-align: center;
      font-size: 20px;
    }

    .teller-text{
      line-height: 36px;
      font-size: 24px;
      font-weight: 800;
      text-align: center;
    }
  }
  
  .inputparent{
    display: flex;
    margin-top:100px;
    width: 100%;
    height: 200px;
    justify-content: center ;
  }

  .prio-container{
    margin:auto;
    display:flex;
    justify-content:center;
    align-items: center;
  }

.buttonComplete {
    background-color: rgb(123, 218, 126); /* Green */
    color: rgb(64, 139, 67);
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size:24px;
    width: 50%;
    height: 82px !important;
    border-radius: 0px  0px  0px 8px;
}

.buttonSkip {
    
    background-color: rgb(243, 156, 163);
    color:rgb(179, 44, 55);
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0px  0px  8px 0px;
    font-size:24px;
    height: 82px !important;
    width: 50%;
}

@media (min-width: 1360px) {
  .service{
    width: 45%;
  }
}

.redbox{
  width: 100px;
  height: 100px;
  background: red;
}

.label-row{
  border-top: 2px white solid;
  padding: 20px 20px 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.data-row{
  padding: 0px 20px 0px 20px;
  width: 100%;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
  font-size: 52px;
  color: white;
  font-weight: 600;
}

.data-item{
  width: 100%;
  text-align: center;
}

.label-item{
  width: 100%;
  text-align: center;
}

.pickprocess-container{
  display: flex;
  max-height: 1300px; /* Or whatever */ 
  flex-wrap: wrap;
  flex-direction:row;
  align-items: center;
  justify-content:center; 
}

.full-width{
  width: 100%;
}

.screen-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 25%;  /* Or whatever */
  margin: 0px 12px;
}

.teller-screen{
  display: flex;
  background: linear-gradient(to right top, #0042a4, #005eb0, #0074af, #0087a7, #16979d);
  width: 100%;  /* Or whatever */
  margin:10px 0px 0px 0px;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px hsla(219, 72%, 70%, 0.50);

  &:disabled{
    background:rgb(192, 192, 203)  /* fallback for old browsers */

  }
}